<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.peridot.mapper.MemberMapper">
  <!-- resultType:반환되는 형식 / parameterType:외부에서 들어오는 키의 형식  ex) 검색  resultType:productVO parameterType:String-->
  		<!-- 회원가입 -->
		<insert id="memberJoin" parameterType="memberVO">
	  		 <![CDATA[
					insert into user_(
						  userNo
						, userFirstName
						, userLastName
						, userEmail
						, userPass
						, userPhone
						, userAdmin
						, EmailCheck
						, PassCheck
						, userDate
					)values(
						  seq_user_no.nextval
						, #{userFirstName}
						, #{userLastName}
						, #{userEmail}
						, #{userPass}
						, #{userPhone}
						,'n'
						, #{userEmailCheck}
						, #{userPassCheck},sysdate )
			]]>
			<selectKey resultType="integer" keyProperty="userNo" order="AFTER">
		        SELECT MAX(userNo) FROM user_   
		    </selectKey>
	  	</insert>
	  	
	  	<!-- 아이디 중복검사 -->
	  	<select id="idCheck" resultType="int">
	  		select count(*) from user_ where userEmail = #{userEmail}
	  	</select>
	  	
	  	
	  	<!-- 로그인 -->
      	<select id="memberLogin" resultType="memberVO" parameterType="memberVO">
      		select 
      			  userNo
      			, userFirstName
      			, userLastName
      			, userAdmin
      			, userEmail
      			, userPhone
      			, userName
      			, userBirth
      			, userDate 
      		from user_ 
      			where userEmail = #{userEmail} and userPass=#{userPass}
      	</select>
      	
      	<!-- 회원정보보기 -->
      	<select id="memberMypage" resultType="memberVO" parameterType="int">
      		select 
      			  userNo
      			, userFirstName
      			, userLastName
      			, userAdmin
      			, userEmail
      			, userPhone
      			, userName
      			, userBirth
      			, userDate 
      		from user_ 
      			where userNo = #{userNo}
      	</select>
      	
      	
      	<!-- 회원정보 수정 -->
	  	<update id="memberUpdate" parameterType="memberVO">
			update user_ set 
				 userFirstName = #{userFirstName }
               , userLastName  = #{userLastName}
               , userName      = #{userName}
               , userBirth     = #{userBirth}
               , userDate      = sysdate
			where userNo = #{userNo}
		</update>
		
		<!-- 카드추가 -->
		<insert id="cardAdd" parameterType="cardVO">
					insert into card 
					values(
						    #{userNo}
						  , seq_card_no.nextval
						  , #{cardTitle}
						  , #{cardNum}
						  , #{cardMonth}
						  , #{cardYear}
						  , #{cardUserName}
						  , #{cardSc} )
			
	  	</insert>
	  	
	  	<!--비밀번호 변경-->
	  	<update id="passChange" parameterType="memberVO">
	  		update user_ set
	  			  userPass = #{userPass}
	  			, passCheck = #{userPassCheck}
	  			, userDate = sysdate
	  		where userNo = #{userNo}
	  	</update>
  </mapper>
  
  