section body{
    font-family: 'Gothic A1', sans-serif;
    margin: 0;
}
section .p{
    font-size: 13px;
    margin-left: 40px;
    margin-bottom: 10px;
    color:rgb(94, 94, 94);
}
section h1{
    font-size: 50px;
    margin-left: 40px;
    margin-bottom: 15px;
    margin-top: 15px;
}
section a{
    color:black;
}
section a:hover{
    color:rgb(190, 188, 188);
}
section .logout{
    position: absolute;
    top:70px;
    right:30px;
    display: flex;
}
section .logout_1{
    font-size: 20px;
    margin-right: 5px;
    margin-top: 1px;
}
section .logout_2{
    text-decoration: underline;
    font-size: 12px;
}
section .total{
    margin: auto;
    width: 1000px;
}
section .no1{
    display: flex;
    margin: auto;
    width: 1000px;
    margin-bottom: 30px;
}
section .prof{
    width: 490px;
    height: 180px;
    background-color: rgb(245, 244, 244);
    margin-right: 20px;
    text-align: center;
}
section .prof_1{
    margin-top: 15px;
    font-size: 25px;
}
section .prof_2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 600;
}
section .prof_3{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}
section .prof_4{
    font-size: 10px;
    margin-top: 5px;
}
section .hr{
    border-bottom: 1px dashed gray;
    display: block;
    width: 470px;
    margin: auto;
    height: 125px;
}
section .prof_6{
    margin-top: 10px;
    font-size: 14px;
}
section .pass{
    width: 490px;
    height: 180px;
    background-color: rgb(245, 244, 244);
    text-align: center;
}
section .pass_1{
    margin-top: 15px;
    font-size: 25px;
}
section .pass_2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 600;
}
section .pass_3{
    font-size: 10px;
}
section .pass_5{
    margin-top: 10px;
    font-size: 14px;
}
section .no2{
    display: flex;
    margin: auto;
    width: 1000px;
    align-items: center;
    margin-bottom: 30px;
}
section .email{
    width: 300px;
    background-color: white;
    margin-right: 50px;
    text-align: center;
    padding-top: 30px;
}
section .email_1{
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}
section .email_2{
    font-size: 12px;
    margin-top:0;
    margin-bottom: 0;
}
section .email_3{
    display: flex;
    width: 90px;
    margin: auto;
}
section .email_i{
    font-size: 16px;
    margin-top: 14px;
    margin-right: 5px;
}
section .email_p{
    font-size:14px;
}
section .help{
    width: 300px;
    background-color: white;
    margin-right: 50px;
    text-align: center;
}
section .help_1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}
section .help_2{
    font-size: 14px;
    margin-bottom: 10px;
}
section .help_3{
    font-size: 12px;
    margin-top:0;
    margin-bottom: 15px;
}
section .help_4{
    display: flex;
    width: 155px;
    margin: auto;
}
section .help_i{
    font-size: 14px;
    margin-top: 12px;
    margin-right: 5px;
}
section .help_p{
    font-size:12px;
}
section .cs{
    width: 300px;
    background-color: white;
    text-align: center;
    padding-top: 30px;
}
section .cs_1{
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}
section .cs_2{
    font-size: 12px;
    margin-top:0;
    margin-bottom: 0;
}
section .cs_3{
    display: flex;
    width: 90px;
    margin: auto;
}
section .cs_i{
    font-size: 16px;
    margin-top: 14px;
    margin-right: 5px;
}
section .cs_p{
    font-size:14px;
}
section .no3{
    display: flex;
    margin: auto;
    width: 1000px;
    align-items: center;
    margin-bottom: 30px;
}
section .order{
    width: 490px;
    height: 180px;
    background-color: rgb(245, 244, 244);
    text-align: center;
    margin-right: 20px;
}
section .order_1{
    margin-top: 15px;
    font-size: 25px;
}
section .order_2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 600;
}
section .order_3{
    font-size: 10px;
}
section .order_5{
    margin-top: 10px;
    font-size: 14px;
}
section .card{
    width: 490px;
    height: 180px;
    background-color: rgb(245, 244, 244);
    text-align: center;
}
section .card_1{
    margin-top: 15px;
    font-size: 25px;
}
section .card_2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 600;
}
section .card_3{
    font-size: 10px;
}
section .card_4{
    margin-top: 10px;
    font-size: 14px;
}
section .no4{
    border-top: 1px dashed gray;
    display: flex;
    margin: auto;
    width: 1500px;
    height: 150px;
    align-items: center;
}
section .buy{
    width: 500px;
    background-color: white;
    padding-left: 120px; 
}
section .buy_1{
    margin-top: 15px;
    font-size: 25px;
}
section .buy_2{
    font-size:14px;
    margin-bottom: 5px;
}
section .buy_3{
    font-size:10px;
    margin-top: 0;
}
section .ref{
    width: 500px;
    background-color: white;
    padding-left: 140px;
}
section .ref_1{
    margin-top: 15px;
    font-size: 25px;
}
section .ref_2{
    font-size:14px;
    margin-bottom: 5px;
}
section .ref_3{
    font-size:10px;
    margin-top: 0;
}